PresentacionMovil/Web References/wcfPedido/PedidoWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://proyectopedidos.somee.com/PedidoWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="Nuevo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pedido" nillable="true" type="q1:PedidoEntidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="NuevoResult" nillable="true" type="q2:PedidoEntidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pedido" nillable="true" type="q3:PedidoEntidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ActualizarResult" nillable="true" type="q4:PedidoEntidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverPedidoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identificador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverPedidoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverPedidoPorIdResult" nillable="true" type="q5:PedidoEntidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaPedidos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaPedidosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaPedidosResult" nillable="true" type="q6:ArrayOfPedidoEntidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPedidoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identificador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPedidoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarPedidoPorIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaPedidosPorCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaPedidosPorClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaPedidosPorClienteResult" nillable="true" type="q7:ArrayOfPedidoEntidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>