PresentacionMovil/Web References/wcfDetallePedido/DetallePedido.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://proyectopedidos.somee.com/DetallePedido.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DetallePedidoEntidades">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Conseguido" type="ser:char" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdPedidoPertenece" type="xs:int" />
      <xs:element minOccurs="0" name="IdProductoTienda" type="xs:int" />
      <xs:element minOccurs="0" name="Subtotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetallePedidoEntidades" nillable="true" type="tns:DetallePedidoEntidades" />
</xs:schema>