PresentacionMovil/Web References/wcfDetallePedido/DetallePedido.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DetallePedido" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://proyectopedidos.somee.com/DetallePedido.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://proyectopedidos.somee.com/DetallePedido.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://proyectopedidos.somee.com/DetallePedido.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDetallePedido_Nuevo_InputMessage">
    <wsdl:part name="parameters" element="tns:Nuevo" />
  </wsdl:message>
  <wsdl:message name="IDetallePedido_Nuevo_OutputMessage">
    <wsdl:part name="parameters" element="tns:NuevoResponse" />
  </wsdl:message>
  <wsdl:message name="IDetallePedido_EliminarDetallePedidoPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDetallePedidoPorId" />
  </wsdl:message>
  <wsdl:message name="IDetallePedido_EliminarDetallePedidoPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDetallePedidoPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDetallePedido_DevolerListaDetallesPorPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:DevolerListaDetallesPorPedido" />
  </wsdl:message>
  <wsdl:message name="IDetallePedido_DevolerListaDetallesPorPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevolerListaDetallesPorPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IDetallePedido_EliminarDetallesPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDetallesPorId" />
  </wsdl:message>
  <wsdl:message name="IDetallePedido_EliminarDetallesPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDetallesPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IDetallePedido">
    <wsdl:operation name="Nuevo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDetallePedido/Nuevo" message="tns:IDetallePedido_Nuevo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDetallePedido/NuevoResponse" message="tns:IDetallePedido_Nuevo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarDetallePedidoPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDetallePedido/EliminarDetallePedidoPorId" message="tns:IDetallePedido_EliminarDetallePedidoPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDetallePedido/EliminarDetallePedidoPorIdResponse" message="tns:IDetallePedido_EliminarDetallePedidoPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DevolerListaDetallesPorPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IDetallePedido/DevolerListaDetallesPorPedido" message="tns:IDetallePedido_DevolerListaDetallesPorPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDetallePedido/DevolerListaDetallesPorPedidoResponse" message="tns:IDetallePedido_DevolerListaDetallesPorPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarDetallesPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDetallePedido/EliminarDetallesPorId" message="tns:IDetallePedido_EliminarDetallesPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDetallePedido/EliminarDetallesPorIdResponse" message="tns:IDetallePedido_EliminarDetallesPorId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDetallePedido" type="tns:IDetallePedido">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Nuevo">
      <soap:operation soapAction="http://tempuri.org/IDetallePedido/Nuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDetallePedidoPorId">
      <soap:operation soapAction="http://tempuri.org/IDetallePedido/EliminarDetallePedidoPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolerListaDetallesPorPedido">
      <soap:operation soapAction="http://tempuri.org/IDetallePedido/DevolerListaDetallesPorPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDetallesPorId">
      <soap:operation soapAction="http://tempuri.org/IDetallePedido/EliminarDetallesPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DetallePedido">
    <wsdl:port name="BasicHttpBinding_IDetallePedido" binding="tns:BasicHttpBinding_IDetallePedido">
      <soap:address location="http://proyectopedidos.somee.com/DetallePedido.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>