PresentacionMovil/Web References/wcfDetallePedido/DetallePedido0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://proyectopedidos.somee.com/DetallePedido.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="Nuevo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="detallePedido" nillable="true" type="q1:DetallePedidoEntidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="NuevoResult" nillable="true" type="q2:DetallePedidoEntidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDetallePedidoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identificador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDetallePedidoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarDetallePedidoPorIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolerListaDetallesPorPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPedido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolerListaDetallesPorPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolerListaDetallesPorPedidoResult" nillable="true" type="q3:ArrayOfDetallePedidoEntidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDetallesPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identificador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDetallesPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarDetallesPorIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>