PresentacionMovil/Web References/wcfCategorias/CategoriaWCF0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://proyectopedidos.somee.com/CategoriaWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="EliminarCategoriaPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identificador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCategoriaPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarCategoriaPorIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nuevo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="categoria" nillable="true" type="q1:CategoriaEntidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="NuevoResult" nillable="true" type="q2:CategoriaEntidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="categoria" nillable="true" type="q3:CategoriaEntidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ActualizarResult" nillable="true" type="q4:CategoriaEntidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaCategoria">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaCategoriaResult" nillable="true" type="q5:ArrayOfCategoriaEntidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverCategoriaPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreCategoria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverCategoriaPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverCategoriaPorNombreResult" nillable="true" type="q6:CategoriaEntidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>