PresentacionMovil/Web References/wcfCategorias/CategoriaWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CategoriaEntidades">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoriaEntidades" nillable="true" type="tns:CategoriaEntidades" />
  <xs:complexType name="ArrayOfCategoriaEntidades">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoriaEntidades" nillable="true" type="tns:CategoriaEntidades" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoriaEntidades" nillable="true" type="tns:ArrayOfCategoriaEntidades" />
</xs:schema>