PresentacionMovil/Web References/wcfCategorias/CategoriaWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CategoriaWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://proyectopedidos.somee.com/CategoriaWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://proyectopedidos.somee.com/CategoriaWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://proyectopedidos.somee.com/CategoriaWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICategoriaWCF_EliminarCategoriaPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCategoriaPorId" />
  </wsdl:message>
  <wsdl:message name="ICategoriaWCF_EliminarCategoriaPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCategoriaPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoriaWCF_Nuevo_InputMessage">
    <wsdl:part name="parameters" element="tns:Nuevo" />
  </wsdl:message>
  <wsdl:message name="ICategoriaWCF_Nuevo_OutputMessage">
    <wsdl:part name="parameters" element="tns:NuevoResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoriaWCF_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="ICategoriaWCF_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoriaWCF_DevolverListaCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:DevolverListaCategoria" />
  </wsdl:message>
  <wsdl:message name="ICategoriaWCF_DevolverListaCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevolverListaCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoriaWCF_DevolverCategoriaPorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:DevolverCategoriaPorNombre" />
  </wsdl:message>
  <wsdl:message name="ICategoriaWCF_DevolverCategoriaPorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevolverCategoriaPorNombreResponse" />
  </wsdl:message>
  <wsdl:portType name="ICategoriaWCF">
    <wsdl:operation name="EliminarCategoriaPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoriaWCF/EliminarCategoriaPorId" message="tns:ICategoriaWCF_EliminarCategoriaPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoriaWCF/EliminarCategoriaPorIdResponse" message="tns:ICategoriaWCF_EliminarCategoriaPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Nuevo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoriaWCF/Nuevo" message="tns:ICategoriaWCF_Nuevo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoriaWCF/NuevoResponse" message="tns:ICategoriaWCF_Nuevo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoriaWCF/Actualizar" message="tns:ICategoriaWCF_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoriaWCF/ActualizarResponse" message="tns:ICategoriaWCF_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DevolverListaCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoriaWCF/DevolverListaCategoria" message="tns:ICategoriaWCF_DevolverListaCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoriaWCF/DevolverListaCategoriaResponse" message="tns:ICategoriaWCF_DevolverListaCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DevolverCategoriaPorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoriaWCF/DevolverCategoriaPorNombre" message="tns:ICategoriaWCF_DevolverCategoriaPorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoriaWCF/DevolverCategoriaPorNombreResponse" message="tns:ICategoriaWCF_DevolverCategoriaPorNombre_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICategoriaWCF" type="tns:ICategoriaWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EliminarCategoriaPorId">
      <soap:operation soapAction="http://tempuri.org/ICategoriaWCF/EliminarCategoriaPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Nuevo">
      <soap:operation soapAction="http://tempuri.org/ICategoriaWCF/Nuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/ICategoriaWCF/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverListaCategoria">
      <soap:operation soapAction="http://tempuri.org/ICategoriaWCF/DevolverListaCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverCategoriaPorNombre">
      <soap:operation soapAction="http://tempuri.org/ICategoriaWCF/DevolverCategoriaPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoriaWCF">
    <wsdl:port name="BasicHttpBinding_ICategoriaWCF" binding="tns:BasicHttpBinding_ICategoriaWCF">
      <soap:address location="http://proyectopedidos.somee.com/CategoriaWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>