PresentacionMovil/Web References/wcfProductoTienda/ProductoTiendaWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductosTiendaEntidades">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductosTiendaEntidades" nillable="true" type="tns:ProductosTiendaEntidades" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductosTiendaEntidades" nillable="true" type="tns:ArrayOfProductosTiendaEntidades" />
  <xs:complexType name="ProductosTiendaEntidades">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdTienda" type="xs:int" />
      <xs:element minOccurs="0" name="Img" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreTienda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductosTiendaEntidades" nillable="true" type="tns:ProductosTiendaEntidades" />
</xs:schema>