PresentacionMovil/Web References/wcfProductoTienda/ProductoTiendaWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductoTiendaWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://proyectopedidos.somee.com/ProductoTiendaWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://proyectopedidos.somee.com/ProductoTiendaWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://proyectopedidos.somee.com/ProductoTiendaWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductoTiendaWCF_DevolverListaProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:DevolverListaProductos" />
  </wsdl:message>
  <wsdl:message name="IProductoTiendaWCF_DevolverListaProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevolverListaProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoTiendaWCF_DevolverListaProductosPorCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:DevolverListaProductosPorCategoria" />
  </wsdl:message>
  <wsdl:message name="IProductoTiendaWCF_DevolverListaProductosPorCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevolverListaProductosPorCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoTiendaWCF_DevolverProductosPorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:DevolverProductosPorNombre" />
  </wsdl:message>
  <wsdl:message name="IProductoTiendaWCF_DevolverProductosPorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevolverProductosPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoTiendaWCF_DevolverProductoPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:DevolverProductoPorId" />
  </wsdl:message>
  <wsdl:message name="IProductoTiendaWCF_DevolverProductoPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevolverProductoPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductoTiendaWCF">
    <wsdl:operation name="DevolverListaProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoTiendaWCF/DevolverListaProductos" message="tns:IProductoTiendaWCF_DevolverListaProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoTiendaWCF/DevolverListaProductosResponse" message="tns:IProductoTiendaWCF_DevolverListaProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DevolverListaProductosPorCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoTiendaWCF/DevolverListaProductosPorCategoria" message="tns:IProductoTiendaWCF_DevolverListaProductosPorCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoTiendaWCF/DevolverListaProductosPorCategoriaResponse" message="tns:IProductoTiendaWCF_DevolverListaProductosPorCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DevolverProductosPorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoTiendaWCF/DevolverProductosPorNombre" message="tns:IProductoTiendaWCF_DevolverProductosPorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoTiendaWCF/DevolverProductosPorNombreResponse" message="tns:IProductoTiendaWCF_DevolverProductosPorNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DevolverProductoPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoTiendaWCF/DevolverProductoPorId" message="tns:IProductoTiendaWCF_DevolverProductoPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoTiendaWCF/DevolverProductoPorIdResponse" message="tns:IProductoTiendaWCF_DevolverProductoPorId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductoTiendaWCF" type="tns:IProductoTiendaWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DevolverListaProductos">
      <soap:operation soapAction="http://tempuri.org/IProductoTiendaWCF/DevolverListaProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverListaProductosPorCategoria">
      <soap:operation soapAction="http://tempuri.org/IProductoTiendaWCF/DevolverListaProductosPorCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverProductosPorNombre">
      <soap:operation soapAction="http://tempuri.org/IProductoTiendaWCF/DevolverProductosPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverProductoPorId">
      <soap:operation soapAction="http://tempuri.org/IProductoTiendaWCF/DevolverProductoPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductoTiendaWCF">
    <wsdl:port name="BasicHttpBinding_IProductoTiendaWCF" binding="tns:BasicHttpBinding_IProductoTiendaWCF">
      <soap:address location="http://proyectopedidos.somee.com/ProductoTiendaWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>