PresentacionMovil/Web References/wcfUsuario/UsuarioWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsuarioWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://proyectopedidos.somee.com/UsuarioWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://proyectopedidos.somee.com/UsuarioWCF.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServiciosWCF" />
      <xsd:import schemaLocation="http://proyectopedidos.somee.com/UsuarioWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://proyectopedidos.somee.com/UsuarioWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarioWCF_DevolverUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:DevolverUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_DevolverUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevolverUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_DevolverUsuario_UsuarioWCFFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosWCF" name="detail" element="q1:UsuarioWCF" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_Nuevo_InputMessage">
    <wsdl:part name="parameters" element="tns:Nuevo" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_Nuevo_OutputMessage">
    <wsdl:part name="parameters" element="tns:NuevoResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_Nuevo_UsuarioWCFFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosWCF" name="detail" element="q2:UsuarioWCF" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_Login_UsuarioWCFFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosWCF" name="detail" element="q3:UsuarioWCF" />
  </wsdl:message>
  <wsdl:portType name="IUsuarioWCF">
    <wsdl:operation name="DevolverUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioWCF/DevolverUsuario" message="tns:IUsuarioWCF_DevolverUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioWCF/DevolverUsuarioResponse" message="tns:IUsuarioWCF_DevolverUsuario_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsuarioWCF/DevolverUsuarioUsuarioWCFFault" name="UsuarioWCFFault" message="tns:IUsuarioWCF_DevolverUsuario_UsuarioWCFFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Nuevo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioWCF/Nuevo" message="tns:IUsuarioWCF_Nuevo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioWCF/NuevoResponse" message="tns:IUsuarioWCF_Nuevo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsuarioWCF/NuevoUsuarioWCFFault" name="UsuarioWCFFault" message="tns:IUsuarioWCF_Nuevo_UsuarioWCFFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioWCF/Login" message="tns:IUsuarioWCF_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioWCF/LoginResponse" message="tns:IUsuarioWCF_Login_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsuarioWCF/LoginUsuarioWCFFault" name="UsuarioWCFFault" message="tns:IUsuarioWCF_Login_UsuarioWCFFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuarioWCF" type="tns:IUsuarioWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DevolverUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioWCF/DevolverUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UsuarioWCFFault">
        <soap:fault use="literal" name="UsuarioWCFFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Nuevo">
      <soap:operation soapAction="http://tempuri.org/IUsuarioWCF/Nuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UsuarioWCFFault">
        <soap:fault use="literal" name="UsuarioWCFFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IUsuarioWCF/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UsuarioWCFFault">
        <soap:fault use="literal" name="UsuarioWCFFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuarioWCF">
    <wsdl:port name="BasicHttpBinding_IUsuarioWCF" binding="tns:BasicHttpBinding_IUsuarioWCF">
      <soap:address location="http://proyectopedidos.somee.com/UsuarioWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>